<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="htmx-config" content='{"selfRequestsOnly":false}'>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
    <title>Aula 10/10/25</title>
</head>
<body>
    <script>

    <button hx-post="/clicked"
        hx-trigger="click"
        hx-target="#parent-div"
        hx-swap="outerHTML">
        Click Me!
    </button>
    </script>
</body>
</html>

<div hx-get="https://ola-tp1.onrender.com/" hx-trigger="load" hx-swap="afterend">
        Carregando dados de uma API externa...
    </div>

  <!-- have a button POST a click via AJAX -->
  <button hx-get="https://ola-tp1.onrender.com/" hx-trigger="click" hx-swap="innerHTML">
    Click Me
  </button>